@charset "utf-8";
.block-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 30rem;
  position: relative;
  overflow: hidden;
}
.hero-body {
  display: flex;
  flex: 1;
  align-items: center;
  z-index: 2;
  overflow-wrap: anywhere;
  padding: 4rem 2rem;
}
.hero-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-media img, .hero-media video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  border: 5px solid var(--color-gray-100);
}

.block-persons .card-foot {
  padding: 0.5rem;
  background-color: inherit;
}
.block-persons img {
  border-radius: 50%;
}

.block-downloads .card-body {
  padding: 0;
}
.block-downloads .card-foot {
  padding: 0;
  background-color: inherit;
}