@charset "utf-8";
.block-editor.textarea {border: 1px dotted var(--color-gray-900); padding: 1rem; min-height: 3rem; background: var(--color-white);}
.block {min-height: 1rem;}
.modal-block .modal-content {
  box-shadow: 0px 1px 6px 0px var(--color-shadow);
}
.block-container {
  position: relative;
}
.block-container.highlight {
  outline-color: var(--color-hover);
  outline-style: dashed;
  outline-offset: 1px;
  outline-width: 2px;
}
.block-container.active {
  outline-color: var(--color-click);
  outline-style: dashed;
  outline-offset: 1px;
  outline-width: 2px;
}
.block-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 38;
  background: var(--color-white);
  border: 1px solid var(--color-gray-100);
  max-width: 470px;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 6px 0px var(--color-shadow);
  box-sizing: border-box;
}
.block-toolbar.active {
  display: block;
}
.block-toolbar .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2rem !important;
  min-width: 2.5rem;
}
.block-toolbar .link:hover {background: var(--color-gray-100);}
.new-block {
  display: none;
}
.new-block.active {
  display: block;
}
.crud .group-title {
  background: var(--color-primary);
  padding: 0.25rem;
  margin: 0.5rem 0 1rem 0;
}
.crud section:not(:first-of-type) {
  margin-top: 4rem;
}
.crud .item-header {
  border-top: 1px solid var(--color-black);
}
.crud .file-actions span:not(:last-child):after {
  content: " |";
  color: var(--color-black);
}
.crud [data-file-file] .fields {margin-left: 2rem;}
.crud [data-fields-group="hidden"] {display: none;}
.crud-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.crud-option label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}
.crud-option img {
  max-width: 50px;
}