@charset "utf-8";
.block-editor.textarea {border: 1px dotted var(--color-gray-900); padding: 1rem; min-height: 3rem; background: var(--color-white);}
.modal-block .modal-content {
  box-shadow: 0px 1px 6px 0px var(--color-shadow);
}
.block-container {
  position: relative;
  min-width: 2rem;
  min-height: 1rem;
}
.block-container.highlight {
  outline-color: var(--color-hover);
  outline-style: dashed;
  outline-offset: 1px;
  outline-width: 2px;
}
.block-container.active {
  outline-color: var(--color-click);
  outline-style: dashed;
  outline-offset: 1px;
  outline-width: 2px;
}
.block-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 38;
  background: var(--color-white);
  border: 1px solid var(--color-gray-100);
  max-width: 470px;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 6px 0px var(--color-shadow);
  box-sizing: border-box;
}
.block-toolbar.active {
  display: block;
}
.block-toolbar .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2rem !important;
  min-width: 2.5rem;
}
.block-toolbar .link:hover {background: var(--color-gray-100);}
.new-block {
  display: none;
}
.new-block.active {
  display: block;
}
.crud .group-title {
  background: var(--color-primary);
  padding: 0.25rem;
  margin: 0.5rem 0 1rem 0;
}
.crud section:not(:first-of-type), .modal-block .crud section:not(:first-of-type) {
  margin-top: 4rem;
}
.crud .item-header {
  border-top: 1px solid var(--color-black);
}
.crud .file-actions span:not(:last-child):after {
  content: " |";
  color: var(--color-black);
}
.crud [data-file-file] .fields {margin-left: 2rem;}
.crud [data-fields-group="hidden"] {display: none;}
.crud-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.crud-option label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}
.crud-option img {
  max-width: 50px;
}
/* Select Input */
.crud-select-input-ctn {position: relative;}
.crud-select-input-btn {
  width: 100%;
  font-family: var(--font-input);
  font-size: var(--text-input);
  border: 1px dotted var(--color-gray-900);
  background: var(--color-white);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  line-height: var(--text-input-lh);
  min-height: 3rem;
}
.crud-select-input-btn:hover {border-style: solid; border-color: var(--color-hover);}
.crud-select-input-dropdown {
  position: absolute;
  z-index: 39;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  border: 1px solid var(--color-gray-300, whitesmoke);
  width: fit-content;
  min-width: 250px;
  max-height: 400px;
  overflow: hidden;
  -ms-overflow-y: visible;
  pointer-events: auto;
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px 0px var(--color-shadow);
}
.crud-select-input-dropdown.active {visibility: visible;}
.crud-select-input-dropdown-body {
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-white, white);
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}
.crud-select-search {padding: .5rem;}
.crud-select-options {
  display: flex;
  flex-direction: column;
}
.crud-select-option:not(:first-of-type) {
  border-top: 1px solid var(--color-gray-100, whitesmoke);
}
.crud-select-option {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
}
.crud-select-option img {
  max-width: 50px;
}
.crud-select-option:hover {background-color: var(--color-gray-100, whitesmoke);}
.crud-select-input-dropdown .crud-select-option-remove-btn, .modal-single-options .crud-select-option-remove-btn {display: none;}
.crud-select-input-btn .crud-select-option:hover {background-color: transparent;}
.crud-select-option-remove-btn, .crud-select-option-remove-btn svg {display: block;}